#ShoppingCart{
	.table-bordered{
		border-collapse: collapse;
		border: none;
	}
	.input--value{
		width: 50%;
	}
	.cartItem__Image{
		height: 5em;
	}
	.cartItem__Table--space{
		padding-top: 1.5em;
	}

}
#Payment{
	.table-bordered{
		border-collapse: collapse;
		border: none;
	}
	.input--value{
		width: 50%;
	}
	.cartItem__Image{
		height: 5em;
	}
	.cartItem__Table--space{
		padding-top: 1.5em;
	}
}
.control-label{
	font-weight: bold;
	color: #789629;
	width: 6em;
	text-align: left;
}